/* Default Template CSS */

body {
    color: #111111;
    background-color: #FFC94A;
}

#container {
    z-index: 10;
    width: 1fr;
    height: auto;

    /* CSS Grid */
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 500px auto auto 400px;
    grid-template-areas:
       "a"
       "b"
       "c"
       "d";
}

#a, #b, #c {
    z-index: 20;
}

#a {
    grid-area: a;
}

#a h1 {
    font-size: 7em;
    color: #453F78;
}

#nav {
    margin: 20px;
}

#nav a {
    padding: 20px;
    font-size: 1.3em;
}

#nav a:hover {
    color:#795458;
}

#b {
    grid-area: b;
    padding: 100px 200px 100px 200px;
    background-color: #C08B5C;
    text-align: center;
}

#b p {
    font-size: 2.5em;
    line-height: 200%;
}

#pdfEmbed {
    width: 80%;
    height: 800px;
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: rgba(78, 69, 47, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#c {
    grid-area: c;
    background-color: #795458;
}

#d {
    grid-area: d;
    background-color: #453F78;
    display: flex;
}

#d img {
    height: 100%;
    padding: 30px;
}

#footerContact {
    color: white;
}

#footerContact h1 {
    font-size: 4em;
    color: #FFC94A;
}

#footerContact h2 {
    font-size: 3em;
}

#footerLinks {
    padding: 50px;
    color: white;
    width: 100%;
    font-size: 3em;
}

#footerLinks a:hover {
    color: #FFC94A;
}

/* Classes */

.cmiddle {   /* Centers content vertically */                                      
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rmiddle {  /* Centers content horizontally */                                         
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.fade-in-text {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
  
.div1 { 
    grid-area: 1 / 1 / 2 / 3;
    text-align: center; 
}
.div2 { 
    grid-area: 2 / 3 / 3 / 5;
    text-align: center; 
}
.div3 { 
    grid-area: 3 / 2 / 4 / 4;
    text-align: center; 
}
.div4 { 
    grid-area: 4 / 4 / 5 / 5;
    text-align: center;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.dosis {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350  ;
  font-style: normal;
}

/* Color Palette

#FFC94A
#C08B5C
#795458
#453F78


/*

/* Below are various code snippets for future use as needed */


/* Google Fonts


*/


/* Full Screen Background Image

background-image:url(../images/);
background-position: center center;
background-repeat:  no-repeat;
background-attachment: fixed;
background-size:  cover;
background-color: var(--black);

*/


/* Individual Side Box Shadows

top {
  box-shadow: 0px -15px 10px -15px #111;
}

right {
  box-shadow: 15px 0px 10px -15px #111;
}

bottom {
  box-shadow: 0px 15px 10px -15px #111;
}

left {
  box-shadow: -15px 0px 10px -15px #111;
}

*/

/*  Fullscreen Video Background CSS

#video-background {
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

*/
